.topBanner {
background: url("https://img.freepik.com/free-vector/paper-style-white-monochrome-background_52683-66443.jpg?w=2000") #00D repeat-y fixed;
}
h1 {
  color: gray;                           /* колір шрифту */
  background: #EEE;                       /* колір фону (16-ричний формат)*/
  font-family: "Courier New", monospace;  /* шрифт */
  height: 50px;                           /* висота елементу */
  width: 50%;                             /* ширина елементу */
  border: solid gray 5px;                /* стиль границі елементу */
  padding: 20px;                          /* відступ від границі елементу до його контенту*/
  margin: 20px;
  text-align: center;                     /* відступ від границі елементу до іншого елементу */
}
h2{
color: gray;
font-family: "Courier New", monospace;
}
h3{
  color: gray;
  font-family: "Courier New", monospace;
  }
h4{
    color: gray;
    font-family: "Courier New", monospace;
    }
